@import "../../../../../common/styles/_theming.scss";
:host {
  width: 20%;
  height: 100%;
}

.block {
  width: calc(100% - 30px);
  height: 100%;
  @include pageBlock();
  background: #f18237;

  .active {
    background: rgba(0,0,0,.08);
  }
}
